<% include partials/header %>

<%- include('partials/menu_banner.ejs', {role: "Host"}) %>

<div class="flex-row" style="align-content: middle">
    <%- include('partials/host-button.ejs', { icon: "fa-question-circle-o", event: "start-pick" }) %>
    <%- include('partials/host-button.ejs', { icon: "fa-bell", event: "start-buzz" }) %>
    <%- include('partials/host-button.ejs', { icon: "fa-times", event: "give-up" }) %>
</div>
<div class="check-holder" style="display: none;">
    <div class="answer-holder">
        <div class="player-check">
            loading...
        </div>
        <hr/>
        <h4>Answer:</h4>
        <p>This is the Answer</p>
    </div>
    <div class="flex-row mt-4" style="justify-content: space-around">
        <%- include('partials/host-button.ejs', { icon: "fa-check", event: "right-answer", show: true }) %>
        <%- include('partials/host-button.ejs', { icon: "fa-times", event: "wrong-answer", show: true }) %>
    </div>
</div>
<script src="js/host.bundle.js"></script>
<% include partials/footer %>
